@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

button:hover {
    filter: brightness(0) saturate(100%) invert(66%) sepia(0%) saturate(45%) hue-rotate(231deg) brightness(90%) contrast(88%);
}

html {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;
}



body {
    width: 100%;
    height: 100%;
    background-image: url(/asset/background/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#backgroundWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

#mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    max-width: 1500px;
    width: 100%;

}

#infoContainer {
    width: 100%;
    gap: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
}

#mainInformationContainer {
    height: 30rem;
    display: flex;
    justify-content: center;

    #mainInfoDisplayContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        gap: 0.5rem;

        #mainInfoWeatherType {
            font-size: 3rem;
            font-weight: 500;
        }

        #mainInfoWeatherDegrees {
            font-weight: 700;
            font-size: 3.5rem;
        }


    }
}


#secondInformationContainer {
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    #secondInfoDisplayContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1rem;

        > div {
            display: flex;
            width: 10rem;
            flex-direction: row;
            gap: 1rem;
            > img {
                align-self: center;
            }
        }
    }
}

#carouselles {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;

    .carouselleContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        button {
            background: none;
            outline: none;
            border: none;
            width: 40px;
            height: 40px;
            border-radius: 50%;

            .carouselleBtnIcons {
                height: 40px;
                width: 40px;
                filter: brightness(0) saturate(100%) invert(100%) sepia(7%) saturate(7485%) hue-rotate(290deg) brightness(107%) contrast(108%);
                border-radius: 50%;
            }
        }
    
        .slidesWrapper {
            display: flex;
            flex-direction: row;
            gap: 1rem;
    
            .slide {
                display: flex;
                flex-direction: row-reverse;
                border: 1px solid white;
                border-radius: 10px;
                padding: 1rem 0.5rem;
                gap: 0.5rem;
                justify-content: center;
                align-items: center;
    
                div {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                }
    
                div span:nth-child(1) { /* Hour */
                    font-size: 1rem;
                    font-weight: 500;
                }
    
                div span:nth-child(2) { /* Degrees */
                    font-size: 1.5rem;
                    font-weight: 700;
                }
                
    
                .carouselleIcons {
                    filter: brightness(0) saturate(100%) invert(100%) sepia(7%) saturate(7485%) hue-rotate(290deg) brightness(107%) contrast(108%);
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}



.secondInfoIcons {
    width: 45px;
    height: 45px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(7%) saturate(7485%) hue-rotate(290deg) brightness(107%) contrast(108%);
}



#inputContainer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;

    input {
        background: none;
        border: none;
        font-size: 1.1rem;
        padding: 0.5rem;
        width: 10rem;
        color: white;
        font-weight: bold;
    }

    input::placeholder {
        color: white;
    }

    input:focus {
        outline: none;
    }

    #inputFieldSearchBtn {
        background: none;
        outline: none;
        border: none;
    
        #searchIconImg {
            width: 21px;
            height: 21px;
            filter: brightness(0) saturate(100%) invert(100%) sepia(7%) saturate(7485%) hue-rotate(290deg) brightness(107%) contrast(108%);
        }
    }
}



#mainInfoCloudIcon {
    width: 150px;
    height: 150px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(7%) saturate(7485%) hue-rotate(290deg) brightness(107%) contrast(108%);
}

.chooseTempConversionBtns {
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;   
    background: none;
    border-radius: 50%;
    outline: none;
    border: none;
    color: white;
}

.secondInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    span:nth-child(1) {
        font-size: 1rem;
        font-weight: 500;
    }

    span:nth-child(2) {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

#dayCarouselleContainer {
    width: 100%;
}