@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;
}



body {
    width: 100%;
    height: 100%;
    background-image: url(/asset/background/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#infoContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#mainInformationContainer {
    height: 30rem;

    #mainInfoDisplayContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        gap: 0.5rem;

        #mainInfoWeatherType {
            font-size: 3rem;
            font-weight: 500;
        }

        #mainInfoWeatherDegrees {
            font-weight: 700;
            font-size: 3.5rem;
        }


    }
}


#secondInformationContainer {
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    #secondInfoDisplayContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1rem;

        > div {
            display: flex;
            width: 10rem;
            flex-direction: row;
            gap: 1rem;
            > img {
                align-self: center;
            }
        }
    }

    #hourCarouselleContainer {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;

        .hourSlidesWrapper {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            .hourSlide {
                display: flex;
                flex-direction: column;

                span:nth-child(1) {
                    font-size: 0.8rem;
                    font-weight: 500;
                }

                span:nth-child(2) {
                    font-size: 1.2rem;
                    font-weight: 700;
                }
            }
        }
    }
}

.secondInfoIcons {
    width: 45px;
    height: 45px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(7%) saturate(7485%) hue-rotate(290deg) brightness(107%) contrast(108%);
}

#mainInfoCloudIcon {
    width: 150px;
    height: 150px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(7%) saturate(7485%) hue-rotate(290deg) brightness(107%) contrast(108%);
}

.chooseTempConversionBtns {
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    background: none;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
}

.chooseTempConversionBtns:hover {
    background: rgba(255, 255, 255, 0.1);
}


.secondInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    span:nth-child(1) {
        font-size: 1rem;
        font-weight: 500;
    }

    span:nth-child(2) {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

#dayCarouselleContainer {
    width: 100%;
}